!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}/

    %title grunt-haml-scss

    %meta{content: '', name: 'description'}/
    %meta{content: 'width=device-width', name: 'viewport'}/

    %link{href: '/styles/main.css', rel: 'stylesheet'}/

  %body

    %h1 This is the something page

    %p This is something on the something page.

    %a{href: '../../index.html'} Go back...

    %form
      %label{for: 'some-form-input'} Thing
      %input#some-form-input